<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/show.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Title: <%= diary.title %></h1>
    <h3>Journal: <%= diary.journal %></h3>
    <h4>Created On: <%= diary.createdOn %></h4>

<div>
    <form action="/diaries/<%=diary.id%>/edit" method="GET" class="edit">
        <button type="submit">Edit Journal</button>
    </form>
</div>

 <div>
    <form class="delete" action="/diaries/<%=diary.id%>/?_method=DELETE" method="POST" >
        <button type="submit">Delete Journal</button>
    </form>
</div>
</body>
</html>